@font-face {
  font-family: "Hbold";
  src: url("/fonts/HyundaiSansHeadKRBold.ttf") format("truetype");
}
@font-face {
  font-family: "Hlight";
  src: url("/fonts/HyundaiSansHeadKRLight.ttf") format("truetype");
}
@font-face {
  font-family: "Hmedium";
  src: url("/fonts/HyundaiSansHeadKRMedium.ttf") format("truetype");
}
@font-face {
  font-family: "Hregular";
  src: url("/fonts/HyundaiSansHeadKRRegular.ttf") format("truetype");
}
@font-face {
  font-family: "TBold";
  src: url("/fonts/HyundaiSansTextKRBold.ttf") format("truetype");
}
@font-face {
  font-family: "Tmedium";
  src: url("/fonts/HyundaiSansTextKRMedium.ttf") format("truetype");
}
@font-face {
  font-family: "Tregular";
  src: url("/fonts/HyundaiSansTextKRRegular.ttf") format("truetype");
}
html,
body {
  max-width: 100vw;
  max-height: 100vh;
  -ms-overflow-style: none;
}
body {
  background-color: #aacae6;
}

a {
  text-decoration: none;
}

div {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}
div::-webkit-scrollbar {
  display: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
